.container{
    background-color: #DED9DB;
    margin: 0 auto;
    padding: 15px 0;
    max-width: 1600px;
    height: 1000px;
}
.nameProduct{
    font-size: 22px;;
    color: #121906;
    margin: 35px 0 22px 0;
}
.innerQuantityAndPrice{
    display: flex;
    gap: 20px;
}
.quantityProduct{
    font-size: 16px;
    color: #121906;
}
.innerCard{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 310px;
    width: 220px;
    background-color: rgb(240, 235, 240);
    padding: 20px 15px;
    margin: 0px 20px;
}
.priceProduct{
    font-size: 16px;
    color: #eb8bab;
}
.IsReady{
    margin-top: 40px;
    display: flex;
    gap: 5px;
    justify-content: center;
    font-size: 18px;
    color: #8C4763;
}
.iconCart{
    font-size: 18px;
}