  .tableHeader {
    background-color: #eddde4;
    color: black;
  }
  .tableHeader th,td{
    padding: 10px;
  } 
  .evenRow {
    background-color: #D6BCC5;
    color: rgb(83, 80, 80);
  }
  .oddRow {
    background-color: #eddde4; 
    color: #8C4763; 
  }
  .productTable{
    width: 65%;
    margin: 0 auto;
    color: #121906;
    text-align: center;
  }
